@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Imprima', sans-serif;
  align-items: center;

}
.main {
  width: 600px;
  
}
h1 {
  margin: 1em;
  font-size: 2em;
  font-weight: 800;
}

.note-container {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid grey;
  border-radius: 2em;
}

.note-container:hover {
  cursor: pointer;
  background-color: rgb(247, 243, 239);
}

.trash-icon {
  margin-left: auto;
}

.note {
  margin: 0;
  padding: 0 1em;
  font-size: 1.5em;
}

.new-note-container {
  display: flex;
  flex-direction: row;
  margin: 1em;
  align-items: center;
} 

.new-note-text {
  width: 100%;
  height: 4.55rem;
  border: 1px solid grey;
  border-radius: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  justify-self: center;
  font-size: 1.5em;
  display: flex; 
  align-items: center;
}
.add-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
.trash-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.completed {
  text-decoration: line-through;
}